h1{
	font-size: 48px;
}
h2{
	font-size: 36px;
}
h3{
	font-size: 24px;
}
h4,h5,h6{
	font-size: 16px;
}
body {
 font-family: "Noto Sans JP"; 
}
.header-top{
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
	padding-bottom: 20px;
}
.heading-box{
	position: relative;
}
.circle-image{
	position: absolute;
	bottom: 30px;
	width: 150px;
	height: 150px;
	left: 35%;

	animation-name: image_circle_animation;
	animation-duration: 0.7s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
}
.border-text-stress-none-box{
    width: 550px;
    height: 3px;
    background-color: #000000;
    position: absolute;
    left: 10px;
    margin-top: 20px;
}
.stress-description-box{
    padding-top: 50px;
    padding-left: 9px;
}
.top-text{
	padding-left: 20px;
}
.menu-nav{
	padding-top: 10px;
}
.menu-nav ul{
	display: flex;
	justify-content: space-around;
}
.menu-nav ul li{
	padding-left: 10px;
	padding-right: 10px;
	font-size: 13px;
}

.header-top.slider{
	animation-name: menu_top_fadein;
	animation-duration: 2s;
	top: 0;
	position: fixed;

	z-index: 10;
	background-color: #ffffff;
    width: 100%;

}
.header-top.hidden{
	position: absolute;
	animation-name: menu_scroll_top_fadeOut;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
.menu-nav-scroll{
}
.scroll-icon{
	width: 70px;
	height: 70px;

}
.menu-nav-scroll{

}
.header-scroll-contents-box{
	display: flex;
}
.header-scroll-contents-box li{
	list-style: none;
}
.menu-nav-scroll{
	position: absolute;
	width: 100%;

}
.menu-nav-scroll ul{
	display: flex;
	justify-content: space-between;
	position: relative;
	max-width: 600px;
	padding-top: 20px;
	margin: 0 auto;
}
.background-size{
	width: 100%;
	height: 80vh;
	background-size: cover;
}
.background-size.animated{
	animation-name: BackgroundImageMoveToRight;
	animation-duration: 40s;
}
/*.background-size.fadeout{
	animation-name: BackgroundFadeOut;
	animation-duration: 1s;
}*/
.background-animation-top-box{
	display: flex;
}
#background-1-image{
	background-image: url("background1.jpg");
}
#background-2-image{
	background-image: url("background2.jpg");

}
.scroll-article{
	position: absolute;
	width: 100%;
	left: -100%;

}
.scroll-article.move{
	animation-name: BackgroundMoveGo;
	animation-duration: 3s;
	animation-fill-mode: both;
}
.background-animation-top-box{
	overflow: hidden;
	animation-name: FadeIn;
	animation-duration: 3s;
	animation-fill-mode: forwards;
	position: relative;
}
#scroll-article-0{
	left: 0;
}
.scroll-article-set{
	position: absolute;
	width: 100%;
}
.back-black-box{
	width: 100%;
	height: 80vh;
}
.back-black-box:before{
	position: absolute;
	z-index: 1;
	opacity: 0.4;
	background-color: #000000;
	width: 100%;
	content: "";
	height: 80vh;
}
.background-size-set{
	width: 100%;
	height: 80vh;
	background-size: cover;
	background-image: url("background1.jpg");
}
.background-display-font-box{
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 600px;
	z-index: 3;
	left: 0;
	right: 0;
	position: absolute;
	text-align: center;
	color: #ffffff;
	bottom: 0;
	animation-name: ContentsUpAnimation;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}
.icon-top-box{
	position: absolute;
	text-align: center;
	z-index: 3;
	margin: auto;
	top: 10vh;
	left: 0;
	right: 0;
	opacity: 0;
	animation-name: FadeIn;
	animation-duration: 2s;
	animation-delay: 1s;
	animation-fill-mode: forwards;
}

.space-1{
	padding-top: 50px;
	padding-bottom: 50px;
	letter-spacing: 5px;
}
.contents-box{
	padding-top: 100px;
}
.space-p{
	padding-top: 10px;
	padding-bottom: 10px;

}
.text-center{
	text-align: center;
}

.video-start-box{
	margin-top: 100px;
	background-size: cover;
	background-color: #000000;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}
.video-start-box::before{
}
.video-png{
	width: 100%;
	height: auto;
	object-fit: cover;
	opacity: 0.7;
}
.movieEvent{
	height: 100%;
	max-width: 200px;
	opacity: 1;
	user-select: none;
}
.movieEvent::before{
	position: absolute;
	width: 10vh;
	height: 10vh;
	border: 2px solid #ffffff;
	left: 50%;
	transform: translate(-50%, -50%);
	right: 0;
    top: 50%;
	border-radius: 50%;
	content: "";
	background-image: url("play.png");
	background-size: cover;
	cursor: pointer;
	padding: 10px;
}
.story-text{
	font-size: 17px;
	letter-spacing: 5px;
}
.modal{
	display: none;
}
.modal.hidden{

}
.modal-content{
	left: 50%;
	position: absolute;
	z-index: 9999;
	transform: translate(-50%, -50%);
	top: 50%;
	width: 100%;
	text-align: center;
}
.modal.hide{
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
    background: rgba(0,0,0,0.8);
	width: 100%;
	height: 100%;
	display: block;
}
.modal-close{
	width: 100%;
	height: 100%;
}
.youtube-container{
	width: 800px;
	height: 400px;

}
.youtube-container.hide{
	animation-name: FadeIn;
	animation-duration: 1s;
}
.youtube-container{
	/*animation-name: FadeOut;*/
	/*animation-duration: 1s;*/
	/*animation-fill-mode: forwards;*/
}
.logo_black_image{
	padding-top: 100px;
	padding-bottom: 50px;
}
.perpanep-desciption-box{
	text-align: center;
}
.hover-big:hover{
	transform: scale(1.01, 1.01);
	opacity: 0.8;
}
.hover-big:hover::before{
}
.hover-big{
	transition: 0.8s;
}
.fade_in_box.contents_up_and_fadeIn{
	animation-name: contents_up_and_fadeIn;
	animation-duration: 2s;
	animation-play-state: forwards;
	opacity: 1;

}
.start-contents-box{
	animation-name: contents_up_and_fadeIn;
	animation-duration: 2s;
	animation-play-state: forwards;
}
.fade_in_box{
	opacity: 0;
}
.header-scroll-top{
	display: flex;
	position: fixed;
	z-index: 10;
	width: 100%;
	background-color: #ffffff;
	top: -100px;
	transition: 1s;
}
.header-scroll-top.hide{
	top: 0;
}

.story-text{
	position: relative;
	padding-bottom: 80px;
    margin: 0 auto;
    max-width: 150px;
}
.story-contents-box{
	padding-bottom: 80px;
}
.story-text::before{
	content: "";
	width: 70px;
	height: 2px;
	background-color: #000000;
	position: absolute;
	top: 20px;
}
.story-box{
	padding-top: 70px;

	padding-bottom: 50px;
}
.story-contents-image{
	width: 114px;
	height: 80px;
}
.story-contents-box{
	display: flex;
}
.story-box{
	padding-bottom: 100px;
	margin: 0 auto;
	max-width: 650px;
	padding-left: 50px;
}
.story-sentence-box{

    padding-left: 70px;
}
.pens-description-box{
	max-width: 1000px;
	margin: 0 auto;
}
.a4_size_paper_box{
	max-width: 450px;
    padding-right: 70px;
    padding-left: 40px;

}
.a4_size_paper_box p{
	width: 100%;
	word-break: break-all;
	text-align: start;
}
.change-image-box.left{
	position: absolute;
	top: 0;
	width: 100%;
	margin-left: 5px;
	opacity: 1;
	transition: 0.6s;
}
.change-image-text{
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	width: 100%;
	font-size: 30px;
	color: #4D4D4D;
}
.change-image-box.left.hidden{
	opacity: 0.0;
}
.pen-changes-box{
	display: flex;
	justify-content: center;
}
.change-image-box{
	position: relative;
}
.pen-change-box-image{
	position: relative;
}
.change-pen-image{
	width: 473px;
	height: 473px;
	object-fit: cover;
}
.a4_size_paper_description_box{
	margin-top: 100px;
	padding-bottom: 200px;
	display: flex;
	justify-content: flex-end;
}
.a4_size_smart_phone_image{
    width: 400px;
    object-fit: cover;
    height: 230px;
    margin-right: 20px;
}
.description-pen-box{
	width: 100%;
	height: 100%;
	padding-bottom: 150px;
	background-image: url("background1.png");
	background-size: cover;
	position: relative;
	background-color: #ffffff;
}
.description-pen-into-box{
	/*position: absolute;*/
	/*left: 0;*/
	/*right: 0;*/
	/*margin: auto;*/
	text-align: center;
	padding-top: 100px;
}
.paper_and_pen_text{
	letter-spacing: 3px;
	font-size: 28px;
	color: #323232;
	/*display: inline-block;*/
	/*border-bottom: 1px solid #000000;*/
}
.description-pen-space-box{
	margin: 0 auto;
	max-width: 1400px;
	display: flex;
	padding: 50px 0px 0 20px;
}
.slider-can-able-write-text{
	letter-spacing: 3px;
	color: #585858;
	padding-bottom: 30px;
}
.border-line{
	position: relative;
	width: 100%;
}
.border-line::before{
	position: absolute;
	width: 370px;
	height: 1px;
	background-color: #000000;
	content: "";
	bottom: -10px;
	left: 50%;
	transform: translate(-50%, -50%);
}
.logo_black_description_pen{
	width: 150px;
	height: 150px;
}

.pen-description{
	position: relative;
	left: 0;
	right: 0;
	margin-top: 200px;
	display: flex;
    justify-content: flex-start;

}
.pen-description.right{
    justify-content: flex-end;
}

.pen-right-box{
	width: 80%;
	background-color: #ffffff;
	/*padding-bottom: 70px;*/
    position: relative;
    right: 0;
}
.pen-left-box{
	width: 80%;
	background-color: #ffffff;
	/*padding-bottom: 70px;*/
    position: relative;
    left: 0;
}
.pentablet-image{
	width: 300px;
	height: auto;
}
.pen-icon-box{
	display: flex;
	padding-right: 30px;
	padding-top: 10px;
}
.pen-sentence-box{
	width: 100%;
    max-width: 400px;
    word-break: break-all;
    padding-right: 30px;
    padding-left: 30px;

}
.pen_write_box{
	margin-top: 50px;
    margin: 10px;
}
.penWrite-image{
	width: 100%;
}
.border-line.note::before{
	width: 590px;
	bottom: -15px;
}
.penTablet_horizontal_image{
	width: 100%;
}
.penTablet_horizontal_box{
	margin-top: 10px;
	margin: 10px;
}
.pen-notes-box{
	background-color: #e0e0e0;
	width: 100%;
	height: 100%;
}
.warning-text-pen{
	position: absolute;
    bottom: -40px;
	color: #6F6F6F;
}
.pen-sentence-box p{
	color: #3E3E3E;
}
.tsuru_tsuru_text{
	letter-spacing: 3px;
	text-align: center;

}
.tsuru_tsuru_text.right{
}
.space-p-pen{
	padding-top: 13px;
}
.pen-image-box{

	top: -100px;
	position: relative;
}
.border-black-text-box{
/*	background-color: #000000;
	margin-top: 5px;
	width: 100%;
	/*height: 1px;
	width: 100%;*/
}
.circle-image-box{
	position: absolute;
	bottom: 30px;
	width: 100%;
	transform: translateX(-50%);
	left: 50%;
	bottom: 0;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
}
@keyframes image_circle_animation{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
@keyframes menu_scroll_top_fadeIn{
	100%{
		top: 0;
	}	
}
@keyframes menu_scroll_top_fadeOut{
	100%{
		top: -100px;
	}	
}
@keyframes menu_top_fadein{
	0%{
		transform: translateY(-100px);
	}
	100%{
		transform: translateY(0);
	}
}

@keyframes contents_up_and_fadeIn{
	0%{
		transform: translateY(30px);
		opacity: 0;
	}
	100%{
		opacity: 1;
		transform: translateY(0px);

	}
}
@keyframes ContentsUpAnimation{
	0%{
		opacity: 0;
		top: 90vh;
	}
	100%{
		opacity: 1;
		top: 70vh;
	}
}

@keyframes BackgroundFadeOut{
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
@keyframes FadeIn{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
@keyframes FadeOut{
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
@keyframes BackgroundImageMoveToRight{
	100%{
		transform: translateX(-70px);
	}
}

@keyframes BackgroundMoveGo{
	0%{
		opacity: 0;
		left: -100%;
	}
	100%{
		opacity: 1;
		left: 0;
	}
}

@media screen and (max-width: 480px){
	.youtube-container{
		width: 100%;
		height: 35vh;
	}

}

@media screen and (max-width: 700px){


}

@media screen and (max-width: 1000px){
	.pen-right-box{
		width: 100%;
	}
	.description-pen-space-box{
	    margin-left: 70px;

	}
}

@media screen and (max-width: 1200px){
	.penTablet_horizontal_image{
		width: 100%;
	}
}